*{margin:0;padding:0}
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: #000
}

.member-header {
    // font-size: 3rem
    width: 100%;
    height: 10rem;
    background-color: #ff4863;
}

.tool-tips a {
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    float: right;
    margin: 1rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

.nameplate a {
    width: 3rem;
    height: 3rem;
    background-color: yellow;
    float: left;
    margin: 1rem;
    margin-top: 6rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}

.card-demo-flex {
    display: flex;
}

.card-demo-content01 {
    padding: 5px 0;
}

.card-padding {
    padding: 15px;
}

.card-demo-flex>div {
    flex: 1;
    text-align: center;
    // font-size: 12px;
    padding-top:0.2rem
}

.card-demo-flex span {
    color: #f74c31;
}

.weui-panel__ft {
    line-height: 2rem;
}

.center {
    text-align: center;
    margin:4rem auto;
    padding-top: 20px;
    color: #fff;
    font-size: 18px;
}

.center img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid #ececec;
}
.conterimg{
    margin:5rem auto;
    text-align:center;
}
.conterimg img{
    width:4rem;
    height:4rem
}

.box1 {
    height: 100px;
    position: relative;
    width: 1490px;
}

.box1-item {
    width: 200px;
    height: 100px;
    background-color: #ccc;
    display: inline-block;
    margin-left: 15px;
    float: left;
    text-align: center;
    line-height: 100px;
}

.box1-item:first-child {
    margin-left: 0;
}

.box2-wrap {
    height: 300px;
    overflow: hidden;
}

.box1 {
    height: 100px;
    position: relative;
    width: 1490px;
}

.box1-item {
    width: 200px;
    height: 100px;
    background-color: #ccc;
    display: inline-block;
    margin-left: 15px;
    float: left;
    text-align: center;
    line-height: 100px;
}

.box1-item:first-child {
    margin-left: 0;
}

.box2-wrap {
    height: 300px;
    overflow: hidden;
}
  